//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 24 03:22:22 2021
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

