

NET "DISPLAYS[3]" LOC = K14;
NET "DISPLAYS[2]" LOC = M13;
NET "DISPLAYS[1]" LOC = J12;
NET "DISPLAYS[0]" LOC = F12;
NET "SEGMENTS[6]" LOC = M12;
NET "SEGMENTS[5]" LOC = L13;
NET "SEGMENTS[4]" LOC = P12;
NET "SEGMENTS[3]" LOC = N11;
NET "SEGMENTS[2]" LOC = N14;
NET "SEGMENTS[1]" LOC = H12;
NET "SEGMENTS[0]" LOC = L14;
NET "INPUT[3]" LOC = B4;
NET "INPUT[2]" LOC = K3;
NET "INPUT[1]" LOC = L3;
NET "INPUT[0]" LOC = P11;
NET "CLEAR" LOC = G12;
NET "MORE" LOC = A7;
NET "LESS" LOC = M4;
NET "EQUAL" LOC = C11;
NET "FLAG" LOC = M5;
