//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 27 19:41:11 2021
//! **************************************************************************

SCHEMATIC START;
COMP "SEGMENTS<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "SEGMENTS<1>" LOCATE = SITE "H12" LEVEL 1;
COMP "SEGMENTS<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "SEGMENTS<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "SEGMENTS<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "CLEAR_EXIT" LOCATE = SITE "N3" LEVEL 1;
COMP "SEGMENTS<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "ENABLE_A" LOCATE = SITE "A7" LEVEL 1;
COMP "SEGMENTS<6>" LOCATE = SITE "M12" LEVEL 1;
COMP "ENABLE_B" LOCATE = SITE "M4" LEVEL 1;
COMP "INPUT<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "INPUT<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "INPUT<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "INPUT<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "CLEAR" LOCATE = SITE "E2" LEVEL 1;
COMP "FLAG" LOCATE = SITE "M5" LEVEL 1;
COMP "OPTION" LOCATE = SITE "F3" LEVEL 1;
COMP "DISPLAYS<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "DISPLAYS<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "DISPLAYS<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "ENABLE_EXIT" LOCATE = SITE "C11" LEVEL 1;
COMP "DISPLAYS<3>" LOCATE = SITE "K14" LEVEL 1;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

